body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: burlywood;
}

h1 {
    margin-top: 100px ;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin: 30px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: red;
    border: 2px solid #333;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background: #ececec;
}

#reset {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}